{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Skontaktuj się ze mną</h1>
        <p>Potrzebujesz pomocy lub wsparcia? Wybierz dogodną dla siebie formę kontaktu:</p>
        <ul>
            <li>Email: ader-88@wp.pl</li>
            <li>Phone: 123-456-789</li>
            <li>Address: ul. Bez Nazwy 123a, Warszawa, Poland</li>
        </ul>
    </div>
    {% bootstrap_javascript %}
</body>
</html>
